@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bullshit Trackaroo</h1>
    <p class="lead">The bullshit tracker to end all bullshit trackers.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Record Transactions</h2>
        <p>
            This genius program will allow you to type in transactions.  It's easy, even though it looks like bullshit!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Capture those exceptions!</h2>
        <p>Did you buy a shirt at the beer store, or clothing at the grocergy store?  Don't lose your mind, create an exception and Roberto Philipi is your Zio.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What about bullshit stats?</h2>
        <p>Through the wonder of ODATA (Oh! Data!) yoink your numbers into a spreadsheet and do a pivot table.  It's so easy a monkey could do it.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>