@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trackaroo</h1>
    <p class="lead">The tracker to end all trackers.</p>
    <p>
    @Html.ActionLink("New Transaction", "Create", "Transactions",null, new { @class = "btn btn-primary btn-large" })
    </p>
</div>
